body{
    background-color: rgb(30, 30, 30);
}
h1{
    text-align: center;
    color: rgb(230, 230, 230);
    font-size: 40px;
    border-top: 3px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(100, 100, 100);
    padding-top: 40px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 70px;
}
p{
    color: rgb(230, 230, 230);
}
input[type="number"]{
    background-color: rgb(30, 30, 30);
    color: rgb(230, 230, 230);
    border: solid 3px rgb(200, 200, 200);
    border-radius: 8px;
}
input[type="submit"]{
    height: 23px;
    width: 60px;
    background-color: rgb(200, 200, 200);
    color: rgb(30, 30, 30);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
table{
    width: 100%;
    font-size: 20px;
    border: 1px solid rgb(50, 50, 50);
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 50px;
}
th{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
td{
    text-align: center;
    height: 64px;
    border-top: 1px solid rgb(100, 100, 100);
}
#chartArea{
    margin-left: 20%;
    margin-right: 20%;
}
#num{
    width: 5%;
    color: rgb(230, 230, 230);
}
#time{
    width: 15%;
    color: rgb(230, 230, 230);
}
#q{
    width: 10%;
    color: rgb(230, 230, 230);
}
#r{
    width: 10%;
    color: rgb(250, 120, 120);
}
#g{
    width: 10%;
    color: rgb(150, 230, 150);
}
#b{
    width: 10%;
    color: rgb(120, 170, 255);
}
#h{
    width: 10%;
    color: rgb(230, 230, 150);
}
#s{
    width: 10%;
    color: rgb(230, 230, 230);
}
#v{
    width: 10%;
    color: rgb(200, 150, 100);
}
#image{
    width: 10%;
    color: rgb(230, 230, 230);
}